wsbk/axis/resultSet.wsdl

<?xml version="1.0"?>
<definitions name="resultSet"

targetNamespace="http://n-topus.com/DBS"
          xmlns:tns="http://n-topus.com/DBS"
          xmlns:xsd1="http://n-topus.com/DBS"
          xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
          xmlns="http://schemas.xmlsoap.org/wsdl/">

  <types>
     <schema targetNamespace="http://n-topus.com/DBS"
            xmlns="http://www.w3.org/2000/10/XMLSchema">
         <element name="doSQLRequest">
            <complexType>
                <all>
                   <element name="DBServerCallParams">
                    <complexType>
                      <sequence>
                        <element name="dbParam" type="string"
                                 minOccurs="1" maxOccurs="unbounded"/>
                      </sequence>
                    </complexType>
                   </element>
                </all>
            </complexType>
         </element>
         <element name="doSQLResponse">
            <complexType>
                <all>
                    <element name="table">
                       <complexType>
                          <element name="tr">
                             <complexType>
                                <sequence>
                                  <element name="th" type="string"
                                    minOccurs="1" maxOccurs="unbounded"/>
                                </sequence>
                             </complexType>
                          </element>
                          <sequence>
                            <element name="tr" minOccurs="0"
                                     maxOccurs="unbounded">
                             <complexType>
                                <sequence>
                                  <element name="th" type="string"
                                    minOccurs="1" maxOccurs="unbounded"/>
                                </sequence>
                             </complexType>
                            </element>
                          </sequence>
 
                       </complexType>
                    </element>
                </all>
            </complexType>
         </element>
     </schema>
  </types>

  <message name="GetResultSetInput">
      <part name="body" element="xsd1:doSQLRequest"/>
  </message>

  <message name="GetResultSetOutput">
      <part name="body" element="xsd1:doSQLResponse"/>
  </message>

  <portType name="ResultSetPortType">
      <operation name="GetResultSet">
         <input message="tns:GetResultSetInput"/>
         <output message="tns:GetResultSetOutput"/>
      </operation>
  </portType>

  <binding name="ResultSetBinding" type="tns:ResultSetPortType">
      <soap:binding style="document"
        transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="GetResultSet">
         <soap:operation soapAction="DBServerCall"/>
         <input>
             <soap:body use="literal"/>
         </input>
         <output>
             <soap:body use="literal"/>
         </output>
      </operation>
  </binding>

  <service name="ResultSetService">
      <documentation>The update part of DBAuthService</documentation>
      <port name="ResultSetPort" binding="tns:ResultSetBinding">
         <soap:address location="http://localhost:65432/"/>
      </port>
  </service>

</definitions>
